@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset;
  -webkit-text-fill-color: #d1d5db; /* Text color (gray-300) */
  transition: background-color 5000s ease-in-out 0s;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

h1, p {
  margin: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
